header {
    display: flex;
    justify-content: space-between;
    background-color: cornsilk;
    border-bottom: 10px solid #4e3a3b;
    border-right: 10px solid #4e3a3b;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

/*definindo fontes e fallback */


a {
    display: inline-flex;
    align-items: center;
    color: #4e3a3b;
    font-size: 20px;
    font-family: "Oswald", sans-serif, Arial, Helvetica;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 20px;
}

a::before {
    /*pseudo-elemento*/
    content: "";
    background-color: #8fc9b9;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #8fc9b9;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    box-shadow: 5px 5px 0 #4e3a3b;
    margin-right: 0px;
    transition: transform 50ms linear;
}

#button:hover {
    /*pseudo-classe*/
    transform: scale(1.2);
    background-color: lightblue;
}


body {
    width: 100%;
    height: 100%;
    background-color: lightblue;
}