.action {
    display: inline-flex;
    align-items: center;
    color: #4e3a3b;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 30px;
}

.action::before {
    /*pseudo-elemento*/
    content: "";
    background-color: #8fc9b9;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}