.box {
    display: inline-block;
    background-color: white;
    box-shadow: 6px 6px 0 #4e3a3b;
    text-align: center;
    padding: 20px;
}

.box .title {
    margin-bottom: 0px;
}

    .box-pages {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: white;
        border: 3px solid #4e3a3b;
        text-align: center;
        padding: 20px;   
    }
    .box-pages.-first {
        margin-top: 30px;
    }

    .box-pages.-second {
        float: right;
        margin-top: 30px;
        margin-right: 150px;
        height: 300px;
        width: 450px;
        padding: 0;
        border: 3px solid #4e3a3b;
        visibility: hidden;
    }


    .boxdopadlet {
        background-color: #fff;
        border: 3px solid black;
        margin-top: 20px;
        padding: 0;
    }

    .boxdopadlet.-tec{
        text-align: justify;
        border: 3px solid black;
        margin-top: 20px;
        padding: 25px;
    }