.button {
    display: inline-block;
    background-color: #8fc9b9;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    box-shadow: 5px 5px 0 #4e3a3b;
    margin-right: 15px;
    transition: transform 50ms linear;
    font-size: 20px;
    color: #4e3a3b;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    /*pseudo-classe*/
    transform: scale(1.2);
    background-color: lightblue;
}

